*{transition:all 0.2s;padding:0;margin:0;}
html{font-size:62.5%;margin:0;padding:0;border:0;}
body{margin:0;padding:0;border:0;font-family:'Lato', sans-serif;}
.owl-carousel .owl-item img{width:initial;-webkit-transform-style:initial;}
.clr, .clear{clear:both;}
img{max-width:100%;}
section{opacity:0;transition:opacity 1s ease 0.25s;}
section.show-section{opacity:1;}
a:hover{text-decoration:none;}
a:focus{text-decoration:none;outline:none;color:inherit;}
.read-more{font-size:1rem;font-weight:700;letter-spacing:.2rem;color:#337ABD;text-transform:uppercase;margin-top:20px;display:inline-block;}
.read-more:hover{color:#a1bf38;}
p, ol li{font-size:1.4rem;font-weight:400;margin:0;color:#616161;}
ol{padding-left:30px;}
h1{font-size:4.8rem;font-weight:400;margin:0;padding:0;}
h2{font-weight:400;}
h3{font-weight:400;}
h4{font-size:1.4rem;font-weight:700;letter-spacing:.2rem;text-transform:uppercase;margin:0 0 20px 0;padding:0;}
.text-center{text-align:center;}
::selection{color:white;background:grey;}
::-moz-selection{color:white;background:grey;}
.clear{clear:both;}
.ver-center{display:flex;align-items:center;}
.hor-center{display:flex;justify-content:center;}
.spc-btw{display:flex;justify-content:space-between;}
.spc-arnd{display:flex;justify-content:space-around;}
.flex-start{display:flex;justify-content:flex-start;}
.flex-end{display:flex;justify-content:flex-end;}
.rotate-180{transform:rotate(180deg);}
.padding-margin-delete{padding:0;margin:0;}
.pointer{cursor:pointer;}
.content-margin{margin-top:60px;}
.margin-top-10{margin-top:10px;}
.margin-top-25{margin-top:25px;}
.margin-top-50{margin-top:50px;}
.margin-top-75{margin-top:75px;}
.margin-top-90{margin-top:90px;}
.margin-top-180{margin-top:140px;}
.margin-bottom-10{margin-bottom:10px;}
.margin-bottom-25{margin-bottom:25px;}
.margin-bottom-50{margin-bottom:50px;}
.margin-bottom-75{margin-bottom:75px;}
.margin-bottom-90{margin-bottom:90px;}
svg{width:100%;height:100%;}
.full-height{height:100%;}
input[type=radio].css-checkbox, input[type=checkbox].css-checkbox{position:absolute;z-index:-1000;left:-1000px;overflow:hidden;clip:rect(0 0 0 0);height:1px;width:1px;margin:-1px;padding:0;border:0;}
input[type=checkbox].css-checkbox + label.css-label, input[type=radio].css-checkbox + label.css-label{padding-left:30px;height:20px;display:inline-block;line-height:20px;background-repeat:no-repeat;background-position:0 0;font-size:1.2rem;font-weight:700;vertical-align:middle;cursor:pointer;}
input[type=checkbox].css-checkbox:checked + label.css-label{background-position:0 -20px;}
input[type=checkbox].css-checkbox:checked + label.css-label, input[type=radio].css-checkbox:checked + label.css-label{background-position:0 -20px;}
label.css-label{background-image:url('../assets/checkbox.png');-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.product-slider .owl-nav.disabled{display:none;}
.menu-fixed{position:fixed;top:0;left:0;z-index:40;background:white;width:100%;height:90px;}
#search-box{position:fixed;top:89px;right:-30%;width:25%;z-index:39;transition:all 0.4s;}
#search-box.show{right:0;}
#search-box input{border-radius:0;padding-top:13px;padding-bottom:13px;width:70%;float:left;}
#search-box .svg{position:absolute;right:20px;top:50%;transform:translateY(-50%);}
#search-box button{width:30%;border-radius:0;float:right;}
.nav-box{height:90px;padding:0 20px;border-bottom:1px solid #eee;}
.logo{height:50px;width:180px;max-width:100%;display:flex;justify-content:center;align-items:center;position:relative;z-index:10;}
.logo-svg{width:100%;height:100%;}
.navigation ul{padding:0;margin:0;position:relative;}
.navigation ul li{padding:0;margin:0;position:relative;}
.navigation ul a{color:#4A4A4A;text-transform:uppercase;font-size:1.2rem;padding:10px 10px;}
.navigation ul li .submenu-right a{padding:4px 0;}
.find-shop{text-align:center !important;}
.navigation ul .find-shop a,
.find-shop a{border:1px solid #337abd;padding:12px 30px !important;border-radius:5px;color:#337abd;}
.find-shop:hover a{background:#337abd;color:white !important;}
.navigation ul li a:hover{color:#337abd;transition:0.4s;margin:0;}
.navigation ul li .submenu-right a:hover{color:inherit;margin-left:5px;}
.navigation ul li .submenu-right p a:hover{color:#337abd;}
.navigation ul li:hover .about-hover{display:block;padding-bottom:30px;}
.navigation ul li:hover .mattresses-hover{display:block;}
.navigation ul li{display:inline;}
.facebook-ico{height:28px;width:28px;}
.youtube-ico{height:28px;width:28px;margin-left:10px}
.search-ico{height:18px;width:18px;margin-left:25px;cursor:pointer;}
.facebook-ico:hover path{fill:#337abd;stroke:#337abd;}
.facebook-ico:hover path:nth-child(2){fill:white;stroke:transparent;}
.youtube-ico:hover path{fill:#ff131b;;stroke:#ff131b;}
.youtube-ico:hover path:nth-child(2){fill:white;stroke:transparent;}
.search-ico:hover path{fill:#337abd;}
.about-hover{position:absolute;top:24px;left:-185px;width:440px;display:none;height:380px;padding-top:30px;}
.child-submenu{background:#337abd;height:100%;width:200px;}
.sub-menu-tittle-text{font-size:3.2rem;font-weight:700;color:white;margin:0;padding-top:20px;}
.main-submenu-left{background:white;width:100%;height:100%;}
.main-submenu{background:white;width:100%;height:100%;-webkit-box-shadow:3px 3px 6px 0px rgba(50, 50, 50, 0.2);-moz-box-shadow:3px 3px 6px 0px rgba(50, 50, 50, 0.2);box-shadow:3px 3px 6px 0px rgba(50, 50, 50, 0.2);}
.about-hover ul li{padding:0 15px;}
.about-hover ul li a{text-transform:initial;display:block;padding:0;margin:0;font-size:1.5rem;}
.about-hover ul li a:hover{padding-left:5px;}
.about-hover ul{margin:0 30px;padding:10px 0;margin-top:15px;}
.mattresses-hover{position:fixed;left:0;width:100%;top:60px;padding-top:30px;height:510px;z-index:100;display:none;}
.mattresses-hover > div{background:white;-webkit-box-shadow:0px 6px 12px 1px rgba(0,0,0,0.24);-moz-box-shadow:0px 6px 12px 1px rgba(0,0,0,0.24);box-shadow:0px 6px 12px 1px rgba(0,0,0,0.24);}
.submenu-left{background:#337abd;height:100%;width:100%;text-align:right;padding-right:30px;}
.submenu-text h2{font-size:3.2rem;font-weight:700;color:white;margin:0;padding-top:40px;padding-bottom:10px;}
.submenu-left ul li{padding:0;}
.submenu-left ul li a{text-align:right;color:white;font-size:1.6rem;font-weight:700;text-transform:initial;padding:15px 30px 15px 0;display:block;position:relative;margin-right:-30px !important;}
.submenu-left ul li.hover a, .submenu-left ul li a:hover{height:100%;background:rgba(255, 255, 255, 0.04);color:white;padding-right:35px;}
.submenu-left ul li.hover a:after, .submenu-left ul li a:hover:after{content:" ";height:25px;width:25px;background:white;position:absolute;right:-15px;-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.submenu-right{display:none;}
.submenu-right h3{font-size:2.8rem;margin-bottom:20px;display:inline-block;margin-top:0;}
.submenu-right h4{margin-bottom:15px;font-size:1.3rem;font-weight:900;display:inline-block;color:#666;letter-spacing:0;}
.submenu-right{margin:39px 70px 0 70px;}
.submenu-right .row > div:nth-child(5){clear:both;}
.submenu-right .row > div{margin-bottom:25px;}
.submenu-right p a{font-size:1.5rem;text-transform:none;padding:0 0 5px 0;clear:both;display:block;}
.slider-height{margin:0 20px;height:70vh;position:relative;}
.slider-color{background:rgba(51, 122, 189, 0.5);position:absolute;height:100%;width:100%;z-index:2;}
.slider{background-repeat:no-repeat;height:100%;background-size:cover;background-position:center;}
.slider-text{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);z-index:3;color:white;text-align:center;}
.slider-text h1{font-weight:700;margin-bottom:10px;}
.slider-text p{font-size:2rem;color:white;}
.slider-text a{text-decoration:none;color:white;font-size:1rem;letter-spacing:.2rem;width:180px;padding:13px 0;margin:30px 10px 0 10px;display:inline-block;text-transform:uppercase;}
.slider-button-1{background:#337abd;border-radius:5px;}
.slider-button-1:hover{background:#a1bf38;border-radius:5px;color:white;}
.slider-button-2{border-radius:5px;-webkit-box-shadow:inset 0px 0px 0px 1px white;-moz-box-shadow:inset 0px 0px 0px 1px white;box-shadow:inset 0px 0px 0px 1px white;}
.slider-button-2:hover{background:white;border-radius:5px;color:#337abd;}
.owl-dots{position:absolute;bottom:10px;left:50%;transform:translate(-50%, 0);z-index:5;display:flex;align-items:center;}
.owl-dot{height:8px;width:8px;background:rgba(255, 255, 255, 0.7);border-radius:100px;margin:0 5px;z-index:15px;}
.owl-dot.active{height:14px;width:14px;border:1px solid white;border-radius:100px;margin:0 5px;background:transparent;}
.product-slider .owl-dots{height:20px;width:initial;bottom:0px;}
.product-slider .owl-dot{width:10px;height:10px;border:1px solid #616161;}
.product-slider .owl-dot.active{background:#337abd;}
.content-product{margin-top:60px;}
.content-product h4{color:#616161;}
.img-hover:hover{opacity:.7;width:100%;}
.content-image-big-1{background-repeat:no-repeat;background-size:cover;background-position:center;width:100%;height:330px;}
.content-video{width:100%;height:312px;border:none;}
.content-image-small-1{background-repeat:no-repeat;background-size:cover;background-position:center;width:100%;height:150px;}
.content-height-big, .content-height-small{height:330px;}
.content-text-big{height:250px;}
.content-text-small{height:102px;}
.row2margin{margin-top:25px;}
.feature-slider-bg{background:#fafafa;}
.feature-slider-bg .owl-nav > div{top:100px;}
.feature-slider{margin:110px 0 0 0;padding:0;}
.feature-slider h4{color:#616161;font-weight:700;font-size:1.2rem;border-bottom:1px solid #bdbdbd;width:100%;text-align:center;padding-bottom:10px;}
.feature-slider.no-hover h4:hover{border-bottom:1px solid #bdbdbd;}
.slider-header{height:350px;}
.feature-slider.active h4, .feature-slider h4:hover{color:#337abd;border-bottom:1px solid #337abd;}
.slider-header h1{font-weight:700;}
.slider-item-height{height:400px;}
.slider-item-1{background-repeat:no-repeat;background-size:contain;background-position:center;width:100%;transition:transform 1s;}
.slider-item-1:hover{transform:scale(1.04);}
.slider-header div a{text-decoration:none;color:white;font-size:1rem;letter-spacing:.2rem;width:180px;padding:13px 0;margin:30px 10px 0 0px;display:inline-block;text-align:center;text-transform:uppercase;}
.feature-slider{margin:110px 0 0 0;padding:0;}
.mobile-tablet-center p{margin-top:20px;}
.text-header{margin:140px 0 50px 0;font-size:2.5rem;font-weight:700;text-align:center;}
.img-hover-2{width:100%;height:100%;background:rgba(51, 122, 189, 0.7);position:absolute;text-align:center;vertical-align:middle;z-index:5;display:none;}
.show{overflow:hidden;}
.show:hover .img-hover-2{display:block;}
.show img{max-width:100%;-moz-transition:all 2;-webkit-transition:all 2s;transition:all 2s;}
.show:hover img{-moz-transform:scale(1.1);-webkit-transform:scale(1.1);transform:scale(1.1);}
.img-hover-2 a{font-size:1rem;letter-spacing:.2rem;width:180px;padding:13px 0;border:1px solid white;border-radius:5px;color:white;text-decoration:none;position:absolute;text-transform:uppercase;top:50%;left:50%;transform:translate(-50%, -50%);}
.img-hover-2 a:hover{border:1px solid white;background:white;color:#337abd;}
.blog-content h5{color:#4A4A4A;text-transform:uppercase;font-size:1.2rem;letter-spacing:.15rem;}
.blog-content p{color:#337ABD;text-transform:uppercase;font-size:2.4rem;font-weight:700;width:95%;max-width:340px;letter-spacing:.15rem;margin-top:40px;}
.blog-content{position:relative;height:100%;}
.blog-content a p:hover{color:#a1bf38;}
.blog-content a div{margin-top:25%;margin-left:40px;}
.catalog-section-height{height:520px;margin:0 20px;}
.catalog-background{background:url('../assets/img/catalog-photo.jpg') no-repeat;height:100%;background-size:cover;}
.catalog-text{height:500px;}
.catalog-text h2{font-size:3.2rem;font-weight:700;color:#a1bf38;margin:0;padding:0;}
.catalog-text-1{color:#666;font-weight:700;font-size:1.2rem;letter-spacing:.1rem;text-transform:uppercase;display:block;}
.catalog-text-2{color:black;display:block;margin:5px 0;}
.catalog-text p{margin-top:20px;max-width:390px;}
.catalog-button{margin-top:20px;background:#337abd;border-radius:5px;color:white !important;font-size:1rem;text-decoration:none;letter-spacing:.2rem;width:180px;padding:13px 0;text-align:center;display:inline-block;text-transform:uppercase;}
.catalog-button:hover{background:#a1bf38;}
.numbers-section div h2{font-size:9rem;font-weight:400;color:#337abd;position:relative;left:50%;transform:translate(-50%,0);display:inline-block;margin:0;text-align:center;padding:0;}
.numbers-plus{font-size:4rem;font-weight:400;color:#a1bf38;position:absolute;top:0;right:-25px;}
.numbers-subtitle{font-size:1.4rem;font-weight:400;color:#9e9e9e;text-transform:uppercase;letter-spacing:.2rem;text-align:center;}
.shop-bg{height:380px;background:url(../assets/img/find-shop.jpg) no-repeat;background-size:cover;background-position:center;}
.find-shop-text div:first-child{text-align:center;}
.find-shop-text h2{font-size:3.2rem;font-weight:700;color:white;margin:0;padding:0;}
.find-shop-text p{font-size:1.6rem;font-weight:400;color:white;margin:0;padding:0;margin-top:15px;}
.findshop-input{font-size:1.3rem;color:#9e9e9e;font-weight:400;padding:15px;border:none;border-radius:5px 0 0 5px;width:100%;height:50px;}
.findshop-input:focus{color:#9e9e9e;font-weight:400;font-size:1.3rem;padding-left:23px;border-radius:5px 0 0 5px;width:100%;outline:none;}
::-webkit-input-placeholder{color:#9e9e9e;}
::-moz-placeholder{color:#9e9e9e;}
:-ms-input-placeholder{color:#9e9e9e;}
:-moz-placeholder{color:#9e9e9e;}
.green-button-find{font-size:1.2rem;text-transform:uppercase;letter-spacing:.2rem;color:white;background:#a1bf38;font-weight:400;border:none;border-radius:0 5px 5px 0;width:100%;height:50px;}
.green-button-find:hover{padding-left:10px;background:#337abd;}
.green-button:focus{font-weight:400;font-size:1.2rem;border-radius:0 5px 5px 0;width:100%;outline:none;}
.find-shop-space-delete{margin-right:0;padding-right:0;}
.find-shop-space-delete2{margin-left:0;padding-left:0;}
.footer ul{color:#9e9e9e;font-size:1.4rem;}
.footer ul li{list-style-type:none;margin-top:15px;}
.footer ul a{text-decoration:none;color:#9e9e9e;}
.footer ul li:hover a{color:#337abd;transition:all 0.3s linear;margin-left:5px;}
.main-input{font-size:1.6rem;color:#9e9e9e;font-weight:400;padding:15px;border:1px solid #eee;border-radius:5px;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.main-input:focus{color:#9e9e9e;font-weight:400;font-size:1.6rem;padding-left:23px;width:100%;outline:none;}
.main-textarea{font-size:1.6rem;color:#9e9e9e;font-weight:400;padding:15px;border:1px solid #eee;border-radius:5px;width:100%;}
.main-textarea:focus{outline:none;padding-left:23px;}
.contact-form textarea{height:110px;margin-bottom:10px;}
.contact-form input{margin-bottom:10px;}
.green-button{font-size:1.2rem;text-transform:uppercase;letter-spacing:.2rem;color:white;background:#a1bf38;font-weight:400;border:none;border-radius:5px;width:100%;height:50px;}
.green-button:hover{padding-left:10px;background:#337abd;}
.blue-button{font-size:1.2rem;text-transform:uppercase;letter-spacing:.2rem;color:white;background:#337abd;font-weight:400;border:none;border-radius:5px;width:100%;height:50px;}
.blue-button:hover{padding-left:10px;background:#a1bf38;}
.copyrights p{color:#9e9e9e;text-align:center;}
#philosophy-anchor, #certyficate-anchor{height:10px;width:100%;position:relative;top:-60px;}
#history-anchor, #group-anchor{height:10px;width:100%;position:relative;top:0px;}
.about-submenu{margin-top:90px;background:#337abd;}
.about-submenu div div a{color:white;text-transform:uppercase;font-size:1.2rem;padding:25px 0px;}
.about-submenu div div a:hover{color:#bde044;margin:0;}
.circle-dot{height:3px;width:3px;background:#337abd;border-radius:100px;margin:32px 0;}
.philosophy-text h2{font-size:3.2rem;font-weight:400;color:#337abd;}
.philosophy-text p{margin-top:20px;font-size:1.6rem;font-weight:400;color:#616161;line-height:2.5rem;}
.test{height:32px;}
.philosophy-feature:nth-child(4){clear:both;}
.philosophy-feature div:last-child{width:calc(100% - 52px);margin-left:20px;margin-top:8px;}
.grey-bg{background:#424242;}
.our-history-text h2{color:white;margin:0;padding:0;}
.our-history-text div div p{margin-top:20px;font-size:1.6rem;font-weight:400;color:white;line-height:2.5rem;}
.our-history-text div div h3{text-transform:uppercase;letter-spacing:.3rem;margin-top:20px;font-size:1.6rem;font-weight:400;color:white;line-height:2.5rem;margin:0 0 25px 0;}
.certyficate-section h3{text-transform:uppercase;letter-spacing:.3rem;font-size:1.6rem;font-weight:400;color:#212121;line-height:2.5rem;}
.certyficate-section h2{font-size:3.2rem;font-weight:400;color:#337abd;}
.certyficate-section p{margin-top:20px;font-size:1.6rem;font-weight:400;color:#616161;line-height:2.5rem;}
.our-vision-bg{background:url('../assets/img/about-img-4.jpg');background-size:cover;background-position:center;width:100%;margin:90px 0;}
.our-vision-text{margin:120px 0;}
.our-vision-text h3{text-align:center;color:white;font-size:3.2rem;margin:0 0 15px 0;padding:0;}
.our-vision-text p{text-align:center;color:white;font-size:1.6rem;line-height:2.5rem;}
.values-text h3{text-transform:uppercase;letter-spacing:.3rem;font-size:1.6rem;font-weight:400;color:#212121;line-height:2.5rem;}
.group-bg{background:#fafafa;}
.group-section h2{font-size:3.2rem;font-weight:400;color:#337abd;}
.group-section a{font-size:1.7rem;}
.blog-item a{text-decoration:none;color:#212121;}
.blog-text p{text-transform:uppercase;font-size:1.5rem;text-align:right;}
.text-header-blog{margin:50px 0 -40px 0;font-size:2.5rem;font-weight:700;text-align:center;}
.feature-slider2{margin:110px 0 0 0;padding:0;}
.feature-slider2 h4{color:#616161;font-weight:700;font-size:1.2rem;border-bottom:1px solid #bdbdbd;width:100%;text-align:center;padding-bottom:10px;}
.feature-slider2.no-hover h4:hover{border-bottom:1px solid #bdbdbd;}
.blog-item-bg:hover{opacity:.7;}
.blog-item-bg{background-position:center;background-size:cover;height:220px;}
.blog-item h4{line-height:2rem;}
.blog-item h4, .blog-item p{text-align:center;}
.blog-item:nth-child(3n+1){clear:both;}
.blog-section-border{border-bottom:1px solid #e0e0e0;}
.prev-button{width:100%;padding:12px 0;text-align:center;border:1px solid #337abd;border-radius:5px;text-transform:uppercase;font-size:1rem;letter-spacing:.2rem;}
.prev-button:hover{background:#337abd;color:white;}
.pagination{margin:0;}
.pagination a{float:left;margin-bottom:10px;}
.pagination-active{height:39px;width:39px;background:#337abd;color:white;text-align:center;border-radius:5px;text-transform:uppercase;font-size:1.1rem;letter-spacing:.2rem;margin:0 5px;}
.pagination-inactive{height:39px;width:39px;color:#337abd;text-align:center;border:1px solid #337abd;border-radius:5px;text-transform:uppercase;font-size:1.1rem;letter-spacing:.2rem;margin:0 5px;}
.pagination-active:hover{border:1px solid #337abd;background:initial;color:#337abd;}
.pagination-inactive:hover{background:#337abd;color:white;}
.blog-text2 p, .blog-text2{font-size:1.6rem;font-weight:400;color:#616161;line-height:2.5rem;}
.blog-text2 ul{padding-left:40px;}
.date-author-text{font-size:1.2rem !important;font-weight:400 !important;color:#616161 !important;line-height:2.5rem !important;}
.facebook-share{width:13px;height:26px;fill:#e0e0e0;margin:0 15px;}
.twitter-share{width:21px;height:20px;fill:#e0e0e0;margin:0 15px;}
.instagram-share{width:22px;height:22px;fill:#e0e0e0;margin:0 15px;}
.pinterest-share{width:22px;height:28px;fill:#e0e0e0;margin:0 15px;}
.facebook-share:hover path, .twitter-share:hover path, .instagram-share:hover path, .pinterest-share:hover path{fill:#337abd;}
.share-section h4{text-align:center;}
.map-contact{width:100%;}
.contact-text .rank{font-size:1.6rem;line-height:2.5rem;}
.contact-text div p{font-size:1.6rem;line-height:2.5rem;}
.contact-text .distance{float:right;font-weight:900;letter-spacing:0.09rem;background:#a8a8a8;padding:4px;font-size:1rem;color:white;text-overflow:clip;overflow:visible;height:20px;}
.contact-text span{display:block;font-size:1.4rem;color:#9e9e9e;padding:2px 0;}
.box-border{border:1px solid #eee;padding:20px 20px;margin-top:-16px;}
.row .contact-text-mini p{color:#9e9e9e;font-size:1.2rem;line-height:2.5rem;}
.contact-bg{background:#fafafa;}
.map-section h2{text-align:right;}
.contact-text-2 h2{font-size:3.2rem;font-weight:400;color:#337abd;margin:0;padding:0;}
.contact-text-2 p{font-size:1.6rem;font-weight:400;color:#616161;line-height:2.5rem;margin:0;padding:0;}
.contact-form-text h2{text-align:center;}
.contact-check-section div p{font-size:1.6rem;font-weight:400;text-align:center;}
.radio-form{width:100%;}
.radio-form label{padding:0 30px;}
#adress-anchor, #formularz-anchor{height:10px;width:100%;position:relative;top:-60px;}
#wsparcie-anchor, #znajdz-anchor{height:10px;width:100%;position:relative;top:0px;}
.cms-bg{background:#337abd;}
.cms-title{padding:100px 0;}
.cms-title h1{color:#337abd;text-align:center;}
.box-border2{border:1px solid #eee;padding:20px 20px;margin-top:16px;}
.find-shop-item h4{margin:0;height:30px;overflow:hidden;display:flex;justify-content:space-between;}
.find-shop-item p, .find-shop-item span{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.find-text{text-align:center;}
.find-text h2{font-size:3.2rem;font-weight:400;color:#337abd;}
.find-text p{color:#616161;}
.shop-box{background:white;height:100px;padding:20px;margin:15px 0px;}
.shop-box-title{padding:20px;margin:15px 0px;}
.bg-website-shop{background:#eee;margin-top:16px;}
.shop-box a{font-size:1.5rem;}
.shop-box:hover{background:#337abd;}
.shop-box:hover h4, .shop-box:hover a{color:white;}
.find-shop-item:hover{background:#fafafa;}
.slider-height-small{margin:0 20px;height:50vh;position:relative;}
.promotion-image{background-size:contain;background-repeat:no-repeat;background-position:center;height:330px;transform:scale(0.9);}
.promotion-image-box{background:#fafafa;height:330px;padding:60px;}
.big-black-text{font-size:3.2rem;color:#212121;line-height:4rem;}
.komfort-header{font-size:1.6rem;padding:5px 20px;border-left:3px solid #a1bf38;margin-bottom:20px;background:#fafafa;width:440px;}
.big-blue-text{display: flex; align-items: center;font-size:3.2rem;color:#337abd;line-height:4rem;text-transform:initial;}
.medium-blue-text{font-size:2rem;color:#337abd;text-transform:initial;}
.blue-text{color:#337abd;text-transform:initial;}
.medium-text{font-size:1.6rem;color:#616161;line-height:2rem;letter-spacing:.02rem;}
.read-more-text{font-size:1rem;color:#337abd;letter-spacing:.2rem;line-height:1.2rem;text-transform:uppercase;font-weight:900;margin-bottom:10px;}
.lb-data{display:flex !important;align-items:center;justify-content:space-between;padding-top:6px !important;padding-left:14px !important;}
.catalog-text-site{text-align:center;}
.catalog-item{text-align:center;}
.catalog-item img{margin:0 auto;}
.catalog-item a{padding:12px 50px !important;border:1px solid #337abd;border-radius:5px;color:#337abd;text-transform:uppercase;}
.catalog-item a:hover{background:#337abd;color:white !important;}
.catalog-item h4{margin-bottom:35px;}
.download-item div h4{height:30px;}
#contentProdIntro p, #contentProductList p{text-align:justify;}
.sidebar-header{font-size:2.4rem;color:#424242;position:relative;display:block;}
.sidebar-menu li{list-style-type:none;}
.sidebar-menu li a{display:block;color:#424242;font-size:1.6rem;text-transform:uppercase;letter-spacing:.2rem;padding:10px 0;}
.sidebar-menu li a.active, .sidebar-menu li a:hover{color:#337abd;}
.sidebar-menu li.hover ul, .sidebar-menu li:hover ul{max-height:520px;transition:all 3s ease 0s;}
.sidebar-menu ul{max-height:0;transition:all 2s ease 0s;overflow:hidden;margin-left:15px;}
.sidebar-menu ul li a{list-style-type:none;color:#616161;font-size:1.6rem;text-transform:none;letter-spacing:.02rem;padding:5px 0;}
.main-select{font-size:1.6rem;color:#9e9e9e;font-weight:400;background:white;width:100%;position:relative;z-index:30;cursor:pointer;user-select:none;}
.placeholder{font-size:1.6rem;color:#9e9e9e;position:relative;padding:15px 30px 15px 15px;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;border:1px solid #eee;border-radius:5px;}
ul.select-padding{list-style-type:none;border-radius:0px 0px 5px 5px;border:1px solid #eee;background:#f5f5f5;width:100%;display:none;max-height:300px;overflow-x:hidden;overflow-y:auto;z-index:31;position:absolute;margin-left:15px;margin-top:-3px;font-size:1.6rem;color:#9e9e9e;font-weight:400;}
ul.select-padding li{padding:13px 10px;cursor:default;}
ul.select-padding li:hover{background:#337abd;padding-left:15px;color:white;}
.main-select ul{list-style-type:none;border-radius:0px 0px 5px 5px;border:1px solid #eee;background:#f5f5f5;width:100%;display:none;max-height:300px;overflow-x:hidden;overflow-y:auto;z-index:31;}
.main-select:hover ul{display:block;}
.main-select ul li{padding:8px 10px;}
.main-select ul li:hover{background:#337abd;padding-left:15px;color:white;}
.select-v{height:5px;position:absolute;margin-left:calc(100% - 30px);top:calc(50% - 2px);}
.select-v path{fill:#e0e0e0;}
.mattress-thumbnail{height:150px;width:100%;transition:transform 0.5s;position: relative; text-align: center;}
.mattress-thumbnail img {max-height:100%;}
.mattress-thumbnail:hover{transform:scale(1.1);}
.header-text-thumbnail{margin:15px 0 10px 0;height:25px;display:flex;align-items:center;}
.feature-slider2{margin:40px 0 0 0;padding:0;}
.feature-slider2.active h4, .feature-slider2 h4:hover{color:#337abd;border-bottom:1px solid #337abd;}
.border-bottom{border-bottom:1px solid #e0e0e0;}
.right-align{text-align:right;}
.spacing{white-space:pre;}
.parameters-title{color:#337abd;font-size:1.4rem;font-weight:700;}
.parameters-details{font-size:1.4rem;font-weight:400;color:#9e9e9e;}
.parameters-details img{max-width:150px;}
.price-product{font-size:4.8rem;font-weight:400;color:#337abd;margin:0;padding:0;}
.price-tax{font-size:1.6rem;color:#9e9e9e;}
.before-promo{font-size:3rem;color:#e0e0e0;text-decoration:line-through;}
.before-promo span{}
.promotion{cursor: pointer;color:white;border-radius:20px;background:#337abd;width:25px;height:25px;margin-left:10px;display:inline-flex;justify-content:center;align-items:center;padding-left:1px;font-size: 1.4rem;}
.promotion-hover{display: none;position: absolute;z-index: 8;line-height: 1.6rem; top: 30px;white-space: nowrap;width: initial;padding: 5px 10px;height: initial;left: 0;}
.relative{position: relative}
.promotion:hover + .promotion-hover, .relative:hover .promotion-hover{display: block;}
.promo{}
.material-texture{background-position:center;background-size:cover;height:400px;width:100%;}
.warranty-card-button{border:1px solid #337abd;padding:8px 10px !important;border-radius:5px;color:#337abd;text-transform:uppercase;}
.warranty-card-button:hover{background:#337abd;color:white !important;}
.why-choose{background:#f5f5f5;}
.why-icons{display:block;position:relative;left:50%;transform:translateX(-50%);max-height:70px;width:auto !important;}
.prod_why-carousel p{text-align:center;}
.prod_why-carousel .owl-dots{bottom:-50px;}
.prod_why-carousel .owl-dots .owl-dot.active{border:1px solid #828282;background:transparent;}
.prod_why-carousel .owl-dots .owl-dot{background:rgba(154, 154, 154, 0.7);}
.why-title{margin:20px 0 10px 0;}
.product-slider div{width:100%;height:280px;background-size:cover;background-position:center;}
.thumbnail-product-slider div{width:100%;height:100px;background-size:cover;background-position:center;cursor:pointer;}
.case-full-photo{width:100%;height:400px;background-size:cover;background-position:center;}
.add-padding{padding:0 40px;}
.cat-movie{width:555px;float:left;margin-left:25px;margin-bottom:0;}
@media (max-width:1208px){.navigation ul .find-shop a, .find-shop a{padding:12px 26px !important;}
}
@media (max-width:1340px){}
@media (max-width:1199px){.content-margin{margin-top:130px;}
.cat-movie{display:none;}
.find-shop{padding:12px 10px !important;}
.navigation ul li a{padding:0 10px 40px 10px;}
.navigation ul li ul li a{padding:15px 30px 15px 0;}
.navigation ul .find-shop a, .find-shop a{padding:12px 9px !important;}
.content-text-1 p, .content-text-2 p{height:initial;}
.row1margin{margin-top:25px;}
.content-image-big-1{height:280px;}
.content-text-big{height:160px;}
.content-height-big{height:285px;}
.content-image-big-2{height:450px;}
.blog-content a div{margin-top:17%;}
.box-border{margin-top:25px;}
.catalog-item:nth-child(1) h4, .catalog-item:nth-child(2) h4{margin-bottom:50px;}
.download-item:nth-child(2) h4, .download-item:nth-child(3) h4, .download-item:nth-child(4) h4{padding-bottom:initial;}
.display-change{display:inline-block;}
.material-texture{height:350px;}
.product-slider div{height:280px;}
.thumbnail-product-slider div{height:80px;}
.submenu-right .row > div:nth-child(5){clear:none;}
.submenu-right .row > div:nth-child(4){clear:both;}
}
@media (max-width:991px){.content-margin{margin-top:150px;}
.display-tablet-reset{display:block;}
.margin-top-25-mobile-tablet{margin-top:25px;}
.margin-top-50-mobile-tablet{margin-top:50px;}
.margin-top-75-mobile-tablet{margin-top:75px;}
.margin-top-90-mobile-tablet{margin-top:75px;}
.margin-top-25-tablet{margin-top:25px;}
.margin-top-50-tablet{margin-top:50px;}
.margin-top-75-tablet{margin-top:75px;}
.margin-top-90-tablet{margin-top:90px;}
.slider-text a{margin:15px 10px 0 10px;}
.slider-text h1{font-size:4rem;font-weight:700;}
.slider-text p{font-size:1.5rem;color:white;}
.content-text-big{height:initial;}
.content-height-big{height:initial;}
.content-image-big-2{height:350px;}
.slider-header{height:initial;}
.mobile-tablet-center{text-align:center;}
.blog-content a div{margin-top:25%;}
.shop-bg div .ver-center{display:block;}
.philosophy-text div img{margin:0 auto;}
.philosophy-text2 h4, .philosophy-text2 p{text-align:center;}
.philosophy-text2 h4{line-height:2.5rem;}
.certyficate-section{text-align:center;}
.certyficate-section img{margin:50px auto;}
.map-section h2{text-align:left;}
.material-texture{height:300px;}
.product-slider div{height:180px;}
.thumbnail-product-slider div{height:50px;}
.feature-slider-bg .container{margin-top:40px;margin-bottom:0;}
.owl-dots{bottom:10px;}
.philosophy-feature:nth-child(4){clear:none;}
.philosophy-feature:nth-child(3){clear:both;}
.philosophy-feature:nth-child(5){clear:both;}
.blog-item:nth-child(3n+1){clear:none;}
.blog-item:nth-child(2n+1){clear:both;}
.feature-slider:nth-of-type(n+4){margin:10px 0 0 0;}
}
@media (max-width:767px){.content-margin{margin-top:100px;}
.cookies p{padding:5px 0;max-width:calc(100% - 20px);}
.cookies{left:5%;transform:none;width:90%;}
.cookie{display:none;}
.display-mobile-reset{display:initial;}
.margin-top-25-mobile-tablet{margin-top:25px;}
.margin-top-50-mobile-tablet{margin-top:50px;}
.margin-top-75-mobile-tablet{margin-top:75px;}
.margin-top-90-mobile-tablet{margin-top:90px;}
.margin-top-25-mobile{margin-top:25px;}
.margin-top-50-mobile{margin-top:50px;}
.margin-top-75-mobile{margin-top:75px;}
.margin-top-90-mobile{margin-top:90px;}
.xs-hor-center{display:flex;justify-content:center;}
.nav-box{padding:0;}
.slider-height{margin:0;}
.slider-height{height:70vh;}
.slider-text a{margin:10px 10px 0 10px;}
.slider-text h1{font-size:3rem;font-weight:700;}
.slider-pagination{bottom:15px;}
.content-image-big-1, .content-image-small-1, .content-image-small-2, .content-image-small-3{height:210px;}
.content-height-small{height:360px;}
.content-text-small{height:initial;}
.content-image-big-2{height:210px;}
.mobile-tablet-center h1{font-size:3.5rem;}
.slider-item-height{height:250px;}
.blog-content a div{margin-top:30px;text-align:center;margin-left:0;}
.blog-content a div p{margin:0 auto;margin-bottom:50px;}
.show img{margin:0 auto;}
.catalog-section-height{height:220px;margin:0 20px;}
.catalog-text p{max-width:initial;}
.catalog-section{margin-top:75px;}
.catalog-text{text-align:center;}
.max-width-delete{max-width:initial !important;}
.margin-delete{margin:0;}
.catalog-text{height:initial;}
.philosophy-text2 h4, .philosophy-text2 p{text-align:center;}
.philosophy-text2 h4{line-height:2.5rem;}
.shop-box{text-align:center;}
.find-shop-item{text-align:center;}
.find-shop-item h4{display:block;}
.promotion-image{height:250px;}
.promotion-image-box{height:initial;padding:60px 15px;text-align:center;}
.catalog-item img{margin:0 auto;}
.catalog-item:nth-child(1) h4, .catalog-item:nth-child(2) h4{margin-bottom:30px;}
.mobile-text-align{text-align:center;}
.mattress-thumbnail{height:200px;}
.viewed-product-box{height:300px;}
.material-texture{height:300px;}
.warranty-card-button{display:inline-block;}
.product-slider div{height:180px;}
.thumbnail-product-slider div{height:50px;}
.case-full-photo{height:200px;}
.feature-slider:nth-of-type(n+3){margin:10px 0 0 0;}
}
.navigationbar .owl-carousel{height:100%;}
.owl-stage-outer, .owl-stage, .owl-item{height:100%;}
label.error{display:none !important;border:none !important;}
label.css-label{display:block !important;}
label.css-label.error{display:block !important;color:red !important;background-image:url(../assets/checkbox_error.png);}
*.error{border:1px solid #f00;}
.main-select input.error ~ .placeholder{border:1px solid #f00;}
.owl-nav > div{width:30px;height:30px;display:inline-block;position:absolute;top:50%;transform:translateY(-50%);z-index:10;}
.owl-nav > div.owl-next{right:0;}
.svg.prev svg{transform:rotate(180deg);}
.owl-nav svg path{fill:#9e9e9e;}
.anchor{position:relative;top:-100px;}
.burger-ico{height:20px;width:24px;position:relative;z-index:10;cursor:pointer;}
.burger-ico span{width:24px;height:2px;background-color:#337abd;position:relative;display:block;border-radius:2px;transform-origin:50% 50%;}
.burger-ico span:nth-child(1){top:0;}
.burger-ico span:nth-child(2){top:7px;}
.burger-ico span:nth-child(3){top:14px;}
.burger-ico.close{opacity:1;}
.burger-ico.close span:nth-child(1){transform:rotate(45deg);top:calc(50% + 2px);}
.burger-ico.close span:nth-child(2){opacity:0;}
.burger-ico.close span:nth-child(3){transform:rotate(-45deg);top:calc(50% - 2px);}
#burger_content{position:absolute;z-index:10;right:-100%;top:0 !important;margin-top:90px;background:white;padding:0 80px 40px 80px;height:calc(100vh - 90px);overflow:auto;transition:all 1s ease;}
#burger_content.show{right:0;transition:all 0.5s ease;}
#burger_content ul{list-style:none;position:relative;}
#burger_content .about-hover{position:static;top:initial;left:initial;width:initial;height:initial;}
#burger_content ul li{display:block;}
#burger_content ul li a{display:block;padding-bottom:30px;font-size:1.3rem;}
#burger_content ul ul{display:none;}
.hide-overflow{overflow:hidden;}
.flex-center-center{display:flex;justify-content:center;align-items:center;height:100%;width:100%;}
#burger_content .flex-center-center{justify-content:flex-start;min-height:404px;}
@media (max-width:550px){#burger_content{width:100%;}
}
.lowercase{text-transform:lowercase;}
.region_desc{padding:25px;}
.region_desc.hover{background:white;outline:1px solid #337abd;}
.map-contact{position:relative;}
.map-contact div{position:absolute;padding:2px 10px;background:rgb(51, 122, 189);border-radius:5px;color:white;font-size:1.2rem;cursor:default;text-transform:uppercase;}
.map-contact div:nth-of-type(1){top:15%;left:60%;}
.map-contact div:nth-of-type(2){top:45%;left:15%;}
.map-contact div:nth-of-type(3){top:42%;left:52%;}
.map-contact div:nth-of-type(4){top:77%;left:52%;}
.map-contact .map_region_name.hover, .map-contact .map_region_name:hover{border:rgb(51, 122, 189);background:white;color:rgb(51, 122, 189);}
#map_region, #map_region g{position:relative;}
#map_region g path, #map_region g polygon{transition:all 0.5s ease;}
#map_region g.hover path, #map_region g.hover polygon{fill:#a1bf38;fill-opacity:1;}
#contactForm label{text-transform:uppercase;}
.no-results{color:#9e9e9e;text-transform:uppercase;text-align:center;font-size:45px;opacity:0.25;font-weight:300;}
#blog_other_news{animation:all 2s ease;}
.opacity0{opacity:0;}
.arrow{width:10px;height:10px;}
#arrow_to_top{width:40px;height:40px;position:fixed;right:20px;bottom:-40px;border:1px solid #9E9E9E;border-radius:50px;padding:10px;cursor:pointer;z-index:100;background:rgba(255, 255, 255, 0.3);}
#arrow_to_top svg{transform:rotate(-90deg);margin-top:-1px;}
#arrow_to_top path{fill:#337abd;}
.prod_pok p{padding:0 40px;font-size:1.6rem;color:#616161;line-height:2rem;letter-spacing:.02rem;text-align:center;}
.img_tkan{width:100%;height:165px;background-size:cover;background-repeat:no-repeat;}
.owl-carousel.product-slider .owl-item img{width:auto;max-height:100%;margin:0 auto;}
.center{margin:0 auto;}
.owl-nav > div.disabled{opacity:0.2;}
.cookies{position:fixed;bottom:20px;background:#eee;padding:20px 30px;z-index:99;left:50%;transform:translateX(-50%);border-bottom:2px solid #337abd;transition:none;}
.cookies p{padding:5px 0;}
.flex-center{display:flex;justify-content:space-between;}
.cookie, .close-icon{width:30px;height:30px;}
.close-icon{padding:5px 0;cursor:pointer;}
.cookies path{fill:#666;}
.lightboxOverlay, .lightbox, .lightbox *{transition:none;}
.navigationbar{width:100%;height:150px;}
.navigationbar a, .navigationbar p{color:white;font-size:1.4rem;padding:5px 5px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;max-width:250px;}
.navigationbar a:hover{opacity:0.65;}
.navigationbar svg path, .navigationbar svg polygon{fill:white;}
.navigationbar .box{position:relative;top:-60px;height:150px;width:100%;overflow:hidden;animation:navigationbar-show 1s 1s forwards;}
@-webkit-keyframes navigationbar-show{from{top:-60px;}
to{top:90px;}
}
@keyframes navigationbar-show{from{top:-60px;}
to{top:90px;}
}
.navigationbar .banner{background-size:cover;width:100%;height:100%;}
.navigationbar h1{text-transform:uppercase;font-size:2.3rem;letter-spacing:0.1rem;font-weight:900;color:#b2d53a;max-width:50%;left:50%;position:relative;transform:translateX(-50%);}
.navigationbar .breadcrumb{position:absolute;top:50%;transform:translateY(-50%);z-index:10;background:transparent;text-align:center;width:100%;opacity:0;animation:breadcrumb-show 1s 2s forwards;}
@-webkit-keyframes breadcrumb-show{from{opacity:0;}
to{opacity:1;}
}
@keyframes breadcrumb-show{from{opacity:0;}
to{opacity:1;}
}
.navigationbar .breadcrumb .text{position:relative;top:75px;animation:breadcrumb-text-show 1s 2.25s forwards;}
@-webkit-keyframes breadcrumb-text-show{from{top:75px;}
to{top:0px;}
}
@keyframes breadcrumb-text-show{from{top:75px;}
to{top:0px;}
}
.line{border-bottom:2px solid #a1bf38;position:absolute;height:2px;left:0;bottom:0px;z-index:10;width:100%;transform:scaleX(0);animation:line-show 1s 3s forwards;}
@-webkit-keyframes line-show{from{transform:scaleX(0);}
to{transform:scaleX(1);}
}
@keyframes line-show{from{transform:scaleX(0);}
to{transform:scaleX(1);}
}
.prodListElem{height:280px;}
@media (max-width:767px){.prodListElem{height: initial;}}
.prod_short_desc{height:40px;}
.flags{position:absolute;margin-top:40px;text-align:right;right:15px;z-index:2;}
.prodImg.flags{margin-top:-34px;}
.flags p{width:30px; height: 20px; background-size: contain; background-repeat: no-repeat; background-position: center; margin-left:6px; display:inline-block; -webkit-transform-style:initial !important;}
.tooltip.top{opacity:1;}
.tooltip.top .tooltip-arrow{border-top-color:#337abd;}
.tooltip-inner{background-color:#337abd;font-weight:700;line-height:1.3rem;padding:10px;letter-spacing:.2rem;text-transform:uppercase;}
.panel{-webkit-box-shadow:none;box-shadow:none;}
.certyfikaty img:not(.miniatura){margin:20px;filter:grayscale(100%);opacity:0.6;}
.certyfikaty img:not(.miniatura):hover{filter:grayscale(0%);opacity:1;}
.youtube{margin-bottom:30px;position:relative;padding-top:56.25%;overflow:hidden;cursor:pointer;}
.youtube img{width:100%;top:-16.84%;left:0;}
.youtube .play-button{width:90px;height:60px;background-color:#333;box-shadow:0 0 30px rgba(0,0,0,0.6);z-index:1;opacity:0.8;border-radius:6px;}
.youtube .play-button:before{content:"";border-style:solid;border-width:15px 0 15px 26.0px;border-color:transparent transparent transparent #fff;}
.youtube img,
.youtube .play-button{cursor:pointer;}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before{position:absolute;}
.youtube .play-button,
.youtube .play-button:before{top:50%;left:50%;transform:translate3d(-50%, -50%, 0);}
.youtube iframe{height:100%;width:100%;top:0;left:0;}
@media (max-width:575px){}
@media (min-width:576px) and (max-width:767px){.show-mobileHoriz{display:block !important;}
.hide-mobileHoriz{display:none !important;}
}
#tkaniny.collapsed{max-height:585px;overflow:hidden;transition:all 1s;}
#tkaniny.expand{max-height:9999px;transition:all 4s;}
.tkaniny p.collapsed .collapsed{display:none;}
.tkaniny p.expand .expand{display:none;}
.tkaniny p{white-space:nowrap;overflow:hidden;font-size:20px;text-align:center;}
.tkaniny p.pointer{font-size:20px;display:flex;justify-content:center;align-items:center;color:#337abd;}
.tkaniny p.pointer path{fill:#337abd;}
.tkaniny p.pointer span{margin-right:26px;}
.website-shop{transition:all 0.6s;height:1600px;}
.website-shop.collapsed{transition:all 0.6s;height:233px;overflow:hidden;}
.website-shop.collapsed .shop-box{display:none;}
.website-shop h2{cursor:pointer;}
.collapse-arrow{width:20px;height:20px;transform:rotate(-90deg);cursor:pointer;display:block;}
.website-arrow{width:20px;height:20px;display:block;margin-top:-20px;transform:rotate(-90deg);cursor:pointer;float:right;}
.collapse-arrow path, .website-arrow path{fill:#616161;}
.collapsed .collapse-arrow, .website-shop.collapsed .website-arrow{transform:rotate(90deg);}
@media (max-width:767px){.website-shop{height:1010px;}
.addToCompare {display: none !important}
}
.lightbox .lb-image { border: none; }
.addToCompare, .delFromCompare {width: 30px; height: 30px; border-radius: 50%; background: #337abd; display: inline-flex; justify-content: center; align-items: center; cursor: pointer; color: white; position: absolute; right: 0; top: 0; font-weight: 700; font-size: 24px; z-index: 3;}
.prodListElem .addToCompare {width: 20px; height: 20px; font-size: 18px;}
.delFromCompare {position: relative; float: right; font-size: 14px; width: initial; height: initial;}
.compare {background: #337abd; color: white; font-size: 14px; text-transform: uppercase; padding: 20px; border-top-right-radius: 5px;}
.compare .message {font-size: 16px;}
.compare .message + .product {margin-top: 20px;}
#compare {position: fixed; left: -100%; bottom: 0; z-index: 2;}
#compare a, #compare a:hover, #compare a:active, #compare a:focus {margin: 0 auto; margin-top: 20px; background: white; border-radius: 5px; padding: 5px 10px; display: table; color: #337abd}
#compare.left0 {left: 0;}
.lang {display: flex; position: relative; margin-left: 10px;}
@media (max-width:309px){.lang {display: none}}
.lang div {margin-right: 10px; cursor: pointer; border-radius: 50%; border: 1px solid #9E9E9E; width: 27px; height: 27px; position: relative; overflow: hidden; }
.lang div:first-child {margin-left: 10px; }
.lang p {width: 100%; height: 100%; background-size: cover; background-position: center;}
.facebook-ico path:nth-child(2) {fill: #337abd;}
.youtube-ico path:nth-child(2) {fill: #ff131b;}
.facebook-ico:hover path:nth-child(2) {fill: white;}
.youtube-ico:hover path:nth-child(2) {fill: white;}
.new-icon {width: 25px; height: 25px; margin-left: 10px;}
.new-icon path {fill: #337abd;}