img#base-img {
    border-right: 1px solid #868686;
}

.configurator-left h5 {
    font-size: 20px;
    position:relative;
}

.configurator-price {
    font-size: 35px;
    font-weight: bold;
}

.configurator-red-price{
    font-size: 15px;
    text-decoration: line-through;
}

div.price-info{
    padding-left: 10%;
    z-index: 1000;
    position: absolute;
    width: 50%;
}

div#example-visualization-info{
    bottom: -8%;
    margin-left: 15px;
    font-size: 10px;
    color: #737477;
    width: 90%;
    position: absolute;
}

div.color {
    width: 45px;
    height: 26px;
    text-align: center;
    padding: 2px;
    margin: 3px;
}

.node-price{
    font-size: 20px;
    font-weight: 400;
}
.node-price-small{
    font-size: 11px;
    font-weight: 400;
}

.item-label{
    font-weight: 600;
    min-height: 26.4px;
    max-width: 167.5px;
}

.dimension-price{
    margin-bottom: 0;
    margin-top: 5px;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.configurator-uppercase {
    text-transform: uppercase;
}

.configurator-right .text-center {
    text-transform: uppercase;
}

.carousel-box {
    border: 1px solid #bcb3aa;
    width: 146px;
}

.carousel-box-selected {
    border: 2px solid #337abd;
    width: 146px;
}

.color-selected {
    border: 1px solid #337abd;
}

.summary-price-row{
    border: 2px solid #337abd;
    margin-top: 10px;
}

.summary-btn-row{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
}

button.btn-summary{
    background-color: #307bbf;
    border-radius: 0px;
    color: white;
}

div.summary-price-row div{
    padding-top: 10px;
    padding-bottom: 10px;
}

img.configurator-img {
    top: 0px;
    position: absolute;
    width: 100%;
    overflow:auto;
}

.square {
    width: 100%;
    padding-bottom: 100%;
    -webkit-background-size: contain;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-size: cover;
    background-position: center;
    min-width: 120px;
}

.img_tkan {
    width: 45px;
    height: 45px;
    padding: 2px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 3px 3px 3px 0;
    background-clip: content-box;
    text-align: center;
}

.img_cover {
    width: 45px;
    height: 45px;
    padding: 2px;
    -webkit-background-size:  contain, cover;
    background-size: contain, cover;
    background-repeat: no-repeat;
    margin: 3px;
    text-align: center;
}

.div-img_tkan{
    padding: 5px;
}

.box .square{
    /*background-position-y: 15px;*/
}


.word-wrap{word-wrap: break-word;}

.square-size-by-width {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.square-size-element {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.label-small {
    font-size: small;
    font-weight: normal;
}

#step-number, #step-title{
    font-size: 2rem;
    font-weight: 500;
}


div.start-content{
    position: absolute;
    float: left;
    top: 80%;
    left: 50%;
    z-index: 25;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

button.btn-star{
    background-color: #b3d646;
    color: white;
    text-align: center;
    /*font-size: 16px;*/
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

.fabric_group_1{
    text-align: right;
}
.fabric_group_2{
    text-align: left;
}
.next-step-div{
    text-align: right;
}

@media (max-width: 767px) {
    .btn-star {
        display: block;
        width: 65%;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    img#base-img {
        border-right: none;
    }
    div#example-visualization-info{
        bottom: 4px;
        font-size: 5px;
    }
    .configurator-left {
        padding-left: 0px;
        padding-right: 0px;
    }

    .configurator-left h5 {
        font-size: 10px;
    }
    .configurator-price {
        font-size: 20px;
    }

    #price-vat{
        font-size: 7px;
    }

    .fabric_group_1{
        text-align: left;
    }
    .img_tkan {
        width: 65px;
        height: 65px;
    }
    .summary-element-name{
        text-align: center;
    }
    .summary-btn-row{
         margin-left: 0;
         margin-right: 0;
    }
    div.price-info{
        width: 100%;
    }
}

.configurator-start-text{
    position: relative;
    color: white;
    top:80%;
    margin-bottom: 15px;
}

div.owl-nav{
    margin-left: -30px;
}

div#configurator-start-view{
    position: absolute;
    bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

select.configurator-select{
    border-radius: 0 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #9e9e9e;
    font-weight: 400;
}

.select2-results {
    color: #9e9e9e;
    font-weight: 400;
}

#skip-step{
    color:#b2d53a;
    text-transform: uppercase;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
}

.configurator-base-carousel .part-carousel-box{
    max-width: 180px !important;
}

button#reload{
    color: #616161;
    font-weight: bold;
    text-transform: uppercase;
}

#configurator-preview{
    position: relative;
}

#start-img{
    position: relative;
    height: 100%;
    background: url("img/konfigurator_start.jpg") no-repeat center;
    /*background: url("img/01_BANNER_NA_KONFIGURATOR.png") no-repeat center;*/
    /*background: url("img/01_BANNER_NA_KONFIGURATOR.webp") no-repeat center;*/
    background-size: cover;
}

body, html {
    height: 100%;
}

.discount {
    margin-bottom: 5px;
    background-color: #E51803;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    text-align: center;
    color: white;
    position: fixed;
    margin-left: 5px;
    top: 95px;
    line-height: 45px;
}

.discount-top {
    margin-top: 5px;
    background-color: #E51803;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    text-align: center;
    color: white;
    position: fixed;
    margin-left: 5px;
    top: 5px;
    line-height: 45px;
}

.red-text {
    color: #E51803;
}

.discount-info{
    display: none;
}

.line-through {
    text-decoration: line-through;
}
.before-discount-price{
    text-decoration: line-through;
    font-size: 10px;
}

.extra-text{
    margin-top: -10px;
    font-size: 0.8rem;
}

.extra-text-summary{
    font-size: 0.8rem;
}
